project_id  = "nyc-analytics-dev"
region      = "us-central1"
bq_location = "US"
name_prefix = "nyc"
env         = "dev"
bucket_name = "nyc-analytics-dev-data"

# Optional overrides
# sa_airflow_id  = "airflow-orchestrator"
# sa_dataproc_id = "dataproc-runtime"
